<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/_common.css">
    <link rel="stylesheet" href="styles/local.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>HealthOpX</title>

</head>
<body>

    <!-- Top Nav Bar -->

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <a class="navbar-brand" href="#">
                    <img src="../assets/HealthOpXLogo[2019].png" alt="HealthOpX" width="200px;">
                </a>
                <li class="nav-item my-auto">
                    <a class="nav-link" href="results.html">Booking</a>
                </li>
                <li class="nav-item my-auto">
                    <a class="nav-link" href="local.html">Partners</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item signin">
                    <a class="nav-link" href="signin.html">Sign In</i></a>
                </li>  
            </ul>
        </div>  
    </nav>

    <!-- End Nav Bar -->

<div class="body-container container text-center" style="margin-top:175px; margin-bottom: 50px;">
    <h1>Thank you for booking your appointment through HealthOpX</h1>  
    <h3>A doctor will reach out to you shortly...</h3>
</div>

    <!-- Footer -->
    <div class="jumbotron text-left footer" style="margin-bottom:0">
        <div class="row">
            <div class="col">
                <img src="../assets/HealthOpXLogo[2019].png" width="300px">
                <p>HealthOpX LLC</p>
            </div>
            <div class="col info-col">
                <div class="row">
                    <div class="col">
                        <h5>Company</h5>
                        <h7><a href="#">About</a></h7><br>
                        <h7><a href="#">Mobile</a></h7><br>
                        <h7><a href="#">How it works</a></h7>
                    </div>
                    <div class="col">
                        <h5>Contact</h5>
                        <h7><a href="#">Help/FAQ</a></h7><br>
                        <h7><a href="#">Partners</a></h7><br>
                        <h7><a href="#">Our Team</a></h7><br>
                        <h7><a href="#">Contact Us</a></h7>
                    </div>
                </div>
            </div>
            <div class="col text-center site-url">
                <h4><a href="#">www.HealthOpX.com</a></h4>
            </div>
        </div>
    </div>
    <!-- End Footer -->

</body>
<script src="js/booking.js" async></script>


</html>

