<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/_common.css">
    <link rel="stylesheet" href="styles/profile.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>HealthOpX</title>

</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="index.php">&nbsp;</a>
            </li>
        </ul>
    </div>  
</nav>
        <div class="container-fluid">
            <div class="sidenav">
                <div class="content">
                    <h1 class='text-center profile'>Patient Profile</h1>
                    <hr>
                    <p><a href="index.php">Home</a></p>
                    <hr>
                    <p><a href="regform.html">Services</a></p>
                    <hr>
                    <p><a href="#clients">Procedures</a></p>
                    <hr>
                    <p><a href="#contact">Contact</a></p>
                    <hr>
                </div>
            </div>
            <div class="calendar">
                    <div class="month">      
                            <ul>
                              <li class="prev">&#10094;</li>
                              <li class="next">&#10095;</li>
                              <li>
                                March<br>
                                <span style="font-size:18px">2018</span>
                              </li>
                            </ul>
                          </div>
                          
                          <ul class="weekdays">
                            <li>Fr</li>
                            <li>Sa</li>
                            <li>Su</li>
                            <li>Mo</li>
                            <li>Tu</li>
                            <li>We</li>
                            <li>Th</li>
                          </ul>
                          
                          <ul class="days">  
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                            <li>11</li>
                            <li>12</li>
                            <li>13</li>
                            <li>14</li>
                            <li>15</li>
                            <li>16</li>
                            <li>17</li>
                            <li>18</li>
                            <li>19</li>
                            <li>20</li>
                            <li>21</li>
                            <li>22</li>
                            <li>23</li>
                            <li>24</li>
                            <li>25</li>
                            <li>26</li>
                            <li>27</li>
                            <li>28</li>
                            <li>29</li>
                            <li>30</li>
                            <li><span class="active">31</span></li>
                          </ul>
            </div>
        </div>

    </body>
</html>