body {
    color: #34394b;
    width: auto;
}
.nav-item {
    border-right: 2px solid #6a6c74;
    padding-left: 2%;
    padding-right: 20px;
}
.navbar-dark {
    font-size: 1.25em;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #3c3d3f !important;
}
.navbar-brand {
    padding-right: 50px;
    border-right: 2px solid #6a6c74;
}
.signin {
    border-right: 2px solid #6a6c74;
    border-left: 2px solid #6a6c74;
}
.form {
    width: 80%;
    margin-right: 2%;
}
.sort {
    width: 80%;
    margin-top: 2%;
}
.footer {
    background-color: #3c3d3f;
    color: white;
    border-radius: 0px;
}
.footer a {
    color: white;
}
.footer .site-url {
    padding-top: 2%;
}
.footer .info-col {
    border-left: solid 2px #6a6c74;
    border-right: solid 2px #6a6c74;
}
hr {
    border-color: rgba(0, 0, 0, 0.2);
}
.dropdown {
    padding-top: 2.5%;
}
.contact {
    color: rgb(153,155,166);
    font-size: 17.5px;
}
.contact:hover {
    text-decoration: none;
    color: rgb(204,205,210);
}
.dropdown-menu {
    background-color: #34394b;
    padding-left: 15%;
 
}
.drop {
    color: rgb(153,155,166);
}
.drop:hover {
    text-decoration: none;
    color: rgb(204,205,210);
}