.homepage {
    padding: 2% 15% 5% 15%;
}
.input {
    padding-top: 5%;
}
.modal {
    left: 25%;
    width: 25%;
    font-size: 2em;
}
.modal-content {
    padding: 2% 5% 2% 5%;

}
.rounded {
    border-radius: 2em;
}
.results {
    margin-top: 5%;
    padding-top: 5%;
    overflow-y: scroll;
    height: 950px;
}
hr {
    border-color: rgba(0, 0, 0, 0.2);
}
.card img {
    margin-bottom: 2%;
    width: 100%;
    height: auto;
}
.treatment {
    padding-top: 7%;
}
.learn {
    /* margin-left: 45%; */
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 5%;
    /* right: 3em; */
}
.card {
    border: rgb(79, 89, 116) solid 4px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 2% 0% 2%;
    /* width: auto; */
    /* height: 15%; */
    height: 95%;
    margin-bottom: 15%;
    width: 100%;
} 
.card-listing {
    margin-bottom: 5%;
}
.hospital {
    font-size: 100%;
}
.duration {
    font-size: 300%;
}
.stay {
    right: 8%;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    height: 15%;
    width: 1%;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card i {
    font-size: 4em;
}
.card p {
    padding: 2% 5% 0% 5%;
    margin-top: 15px;
    color: #555;
}
.card h3{
    padding-left: 2%;
    margin-top: 0%;
    width: 70%;
}
.card .cost {
    padding-top: 8%;
    padding-left: 15%;
}
.card h4{
    padding-left: 2%;
    margin-top: 0%;
}
.card button {
    margin-right: 5%;
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);
}
.card button {
    background-color: rgb(120,7,8);
    color: white;
    font-size: 2em;
}
.select {
    margin-top: 5%;
}
.modal {
    width: auto;
}
.msg {
    height: auto;
}