<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/_common.css">
    <link rel="stylesheet" href="styles/home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>HealthOpX</title>
</head>
<body>

    <!-- Top Nav Bar -->

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <a class="navbar-brand" href="#">
                    <img src="../assets/HealthOpXLogo[2019].png" alt="HealthOpX" width="200px;">
                </a>
                <li class="nav-item my-auto">
                    <a class="nav-link" href="results.html">Booking</a>
                </li>
                <li class="nav-item my-auto">
                    <a class="nav-link" href="local.html">Partners</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item signin">
                    <a class="nav-link" href="https://healthopx-patients.auth.us-east-1.amazoncognito.com/login?response_type=code&client_id=2l7p6u93r60avs9fko3aorm1s6&redirect_uri=https://healthopx-lb-1708489658.us-east-1.elb.amazonaws.com/patient.html&state=STATE">Sign In</i></a>
                </li>  
            </ul>
        </div>  
    </nav>
    


    <!-- End Nav Bar -->

    <!-- Header With Search Fields -->

    <div class="jumbotron text-left header" style="margin-bottom:0">
        <div class="header-info">
            <div class="container input-fields">
                <div class="row">
                    <h3 class="search-header">Search for treatments around the world</h3>
                </div>
                <form action="results.html" method="GET">
                    <div class="row">
                        <div class="col-sm-6">
                            <input class="input-header" type="text" name="treatment-search" placeholder="Treatment/Procedure">
                        </div>
                        <div class="col-sm-6">
                            <input class="input-header" type="text" name="location-search" placeholder="Location">
                        </div>
                        <div class="col-sm">
                            <button type="submit" class="submit-search" onclick="window.location.href='results.html'"><i class="fas fa-search"></i>&nbspSearch</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- End Header -->

    <!-- Partner Info -->

    <div class="partner-container text-center">
        <h2>Explore Our Partners</h2>
        <h4>We are currently partnered with 8 locations in Taiwan and South Korea.</h4>
        <div class="card-container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <img src="../assets/UniversityLocation.jpg" width="376">
                        <h4>Changwon, South Korea</h4>
                        <h5><b>Hanyang University Hanmaeum Changwon Hospital</b></h5>
                        <p>Offering 5 procedures ranging from $700-$15,000 USD</p>
                        <a href="local.html">Learn More &#62;</a>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../assets/FEMHLocation.jpg" width="376">
                        <h4>New Taipei  City, Taiwan</h4>
                        <h5><b>Far Eastern Memorial Hospital</b></h5>
                        <p>Offering 7 procedures and health screenings ranging from $300-$5,000 USD</p>
                        <a href="local.html">Learn More &#62;</a>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../assets/SunflowerLocation.jpg" width="376">
                        <h4>Taipei City, Taiwan</h4>
                        <h5><b>Sunflower Dental Clinic</b></h5>
                        <p>Offering 4 procedures ranging from $1,000-$5,000 USD</p>
                        <a href="local.html">Learn More &#62;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Partner Info -->

    <!-- Ad Info -->

    <div class="ad-container text-center">
        <h2>Consider getting a treatment like going on a vacation</h2>
        <div class="icon-container">
            <div class="row">
                <div class="col">
                    <i class="fas fa-bed fa-6x"></i>
                    <h4>Relax and recover from your treatment at one of our partnered locations</h4>
                </div>
                <div class="col">
                    <i class="fas fa-clipboard-check fa-6x"></i>
                    <h4>Get certified quality treatments and health screenings</h4>
                </div>
                <div class="col">
                    <i class="fas fa-mobile-alt fa-6x"></i>
                    <h4>Keep track of your progress with our mobile application</h4>
                    <a href="mobile.html">Learn More &#62;</a>
                </div>
            </div>
        </div>
    </div>

    <!-- End Ad Info -->

    <!-- Footer -->
    <div class="jumbotron text-left footer" style="margin-bottom:0">
        <div class="row">
            <div class="col">
                <img src="../assets/HealthOpXLogo[2019].png" width="300px">
                <p>HealthOpX LLC</p>
            </div>
            <div class="col info-col">
                <div class="row">
                    <div class="col">
                        <h5>Company</h5>
                        <h7><a href="contact.html">About</a></h7><br>
                        <h7><a href="mobile.html">Mobile</a></h7><br>
                        <h7><a href="contact.html">How it works</a></h7>
                    </div>
                    <div class="col">
                        <h5>Contact</h5>
                        <h7><a href="contact.html">Help/FAQ</a></h7><br>
                        <h7><a href="local.html">Partners</a></h7><br>
                        <h7><a href="contact.html">Our Team</a></h7><br>
                        <h7><a href="contact.html">Contact Us</a></h7>
                    </div>
                </div>
            </div>
            <div class="col text-center site-url">
                <h4><a href="#">www.HealthOpX.com</a></h4>
            </div>
        </div>
    </div>
    <!-- End Footer -->

</body>
<script src="../js/booking.js" async></script>

</html>

<!-- Bottom link to to get a code ?  -->
<!--https://healthopx-patients.auth.us-east-1.amazoncognito.com/login?response_type=code&client_id=2l7p6u93r60avs9fko3aorm1s6&redirect_uri=https://www.healthopx.com/patient.html&state=STATE-->

<!-- Bottom link to to get a token  -->
<!--https://healthopx-patients.auth.us-east-1.amazoncognito.com/login?response_type=token&client_id=2l7p6u93r60avs9fko3aorm1s6&redirect_uri=https://www.healthopx.com/patient.html&state=STATE-->